@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Bold.woff2') format('woff2'),
        url('Cambria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria.woff2') format('woff2'),
        url('Cambria.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Italic.woff2') format('woff2'),
        url('Cambria-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-BoldItalic.woff2') format('woff2'),
        url('Cambria-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

